@import url(./default.css);
@import url(./fonts.css);

/* HEADER */
header{
    width: 100%;
    background-image: url(../img/imgBackground1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 0 99px 0;
    color: #fafafa;
    margin-bottom: 160px;
}

.main-menu{
    margin-bottom: 150px;
}

nav{
    width: 18%;
}

nav a{
    color: #fafafa;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}

nav a:hover{
    color: #DD9428;
}

header .vertical-container{
    width: 50%;
}

.burger{
    cursor: pointer;
}

header .vertical-container h1{
    font-family: 'Playfair Display';
    font-size: 70px;
    font-weight: 700;
    line-height: 95px;
    margin-bottom: 50px;
}

header .vertical-container p{
    width: 70%;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 70px;
}

.horisontal-container.btns{
    width: 90%;
    margin-bottom: 120px;
}

.btns .btn{
    color: black;
    background-color: #DD9428;
}

.btns .btn:hover{
    border: 2px #DD9428 solid;
    color: #DD9428;
    background-color: transparent;
}

.btns svg:hover{
    cursor: pointer;
}

.btns .horisontal-container{
    justify-content: flex-start;
}

.btns .horisontal-container span{
    color: #A1A8B6;
    font-size: 16px;
    font-weight: 500;
    width: 30%;
    margin-left: 20px;
}

.social{
    width: 25%;    
}

.social svg:hover{
    cursor: pointer;
}

.social .horisontal-container{
    width: 100%;
}

.social .social-p{
    width: 100%;
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 400;
}
/* HEADER END */

/* COVER AND DESCRIPTION*/
.cover .vertical-container h3{
    font-family: 'Playfair Display';
    font-size: 23px;
    font-weight: 700;
    line-height: 29px;
}
.cover .vertical-container p{
    font-size: 16px;
    font-weight: 400;
}

.cover .horisontal-container p{
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    width: 40%;
}

.cover svg>path{
    transition: 0.5s;
}

.cover svg:hover>path{
    cursor: pointer;
    fill: #DD9428;
}

.descrtiption{
    width: 35%;
}

.descrtiption h2{
    font-family: 'Playfair Display';
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
}

.descrtiption p{
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 96px;
}

.descrtiption .btn{
/*     padding: 25px 66px; */
    border: 2px solid #DD9428;
    color: #DD9428;
}

.descrtiption .btn:hover{
    /*     padding: 25px 66px; */
    color: black;
    background-color: #DD9428;
    }
/* COVER AND DESCRIPTION END*/

/* 2 экран */
.section2 .wrapper-medium{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 .cover{
    background-image: url("../img/imghaw1.png");
}
/* 2 экран end*/

/* 3 экран */
.section3{
    width: 100%;
    background-image: url('../img/imgForm1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 133px 0 52px 0;
    display: flex;
    justify-content: flex-end;
}

.section3 .descrtiption{
    width: 48%;
}

.section3 .descrtiption p{
    width: 45%;
}

.contact-form{
    width: 30%;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form form>input{
    border-radius: 38px;
    margin-bottom: 20px;
    border: 2px solid #CED8DF;
    color: #CED8DF;
    font-size: 20px;
    font-weight: 500;
    padding: 25px 20px;
}

.contact-form form .btn{
    width: 287px;
    padding: 25px 0;
    text-align: center;
    color: black;
    background-color: #DD9428;
    margin-bottom: 10px;
}
.contact-form form .btn:hover{
    border: 2px #DD9428 solid;
    color: #DD9428;
    background-color: transparent;
}
.contact-form form p{
    width: 75%;
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 auto;
}

.contact-form form a{
    color: #DD9428;
}

/* 3 экран end*/

/* 4 экран */
.section4 .wrapper-medium{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4 .cover{
    background-image: url("../img/imgHawaii2.png");
}

.section4 .horisontal-container p{
    width: 50%;
}
/* 4 экран end*/

/* footer */
footer{
    background-color: #f8f8f8;
    padding: 74px 120px;
}

.footer-info{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info p{
    width: 25%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #90A4B2;
}

.footer-social{
    width: 12%;
}

.footer-social svg:hover{
    cursor: pointer;
}
/* footer end*/