@import url(./default.css);
@import url(./fonts.css);

header{
    width: 100%;
    background-image: url(../img/imgBackground1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 22px 0 99px 0;
    color: #fafafa;
    margin-bottom: 160px;
}

.main-menu{
    margin-bottom: 150px;
}

nav{
    width: 18%;
}

nav a{
    color: #fafafa;
    font-size: 15px;
    font-weight: 500;
}

header .vertical-container{
    width: 50%;
}

header .vertical-container h1{
    font-family: 'Playfair Display';
    font-size: 70px;
    font-weight: 700;
    line-height: 95px;
    margin-bottom: 50px;
}

header .vertical-container p{
    width: 70%;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 70px;
}

.horisontal-container.btns{
    width: 90%;
    margin-bottom: 120px;
}

.btns .btn{
    color: black;
    background-color: #DD9428;
}

.btns .horisontal-container{
    justify-content: flex-start;
}

.btns .horisontal-container span{
    color: #A1A8B6;
    font-size: 16px;
    font-weight: 500;
    width: 30%;
    margin-left: 20px;
}

.social{
    width: 25%;    
}

.social .horisontal-container{
    width: 100%;
}

.social .social-p{
    width: 100%;
    margin-bottom: 19px;
    font-size: 14px;
    font-weight: 400;
}

/* 2 экран */

/* 3 экран */

/* 4 экран */

/* footer */
footer{
    background-color: #f8f8f8;
    padding: 74px 120px;
}

.footer-info{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info p{
    width: 25%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #90A4B2;
}

.footer-social{
    width: 12%;
}